@import "../../styles/variables";
@import "../../styles/typography";
@import "../../styles/theme";

.button {
  width: 150px;
  height: 40px;
  @include theme-aware('background', 'button-background');
  border: none;
  border-radius: 8px;

  .content {
    .text {
      color: white;
    }
  }

  &:hover {
    @include theme-aware('background', 'button-background-hover');
    cursor: pointer;
  }
}
