@import "../../styles/variables.scss";
@import "../../styles/typography.scss";
@import "../../styles/theme";
@import "../../styles/mixins";

.list {
  @include themed-scrollbar();
  @include theme-aware('background', 'select-options-background');
  overflow: hidden;
  width: 100%;
  position: relative;
  top: 0;
}
