@import "../../styles/variables.scss";
@import "../../styles/typography.scss";
@import "../../styles/theme";
@import "../../styles/mixins";

$transition-time: 0.2s;

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  transform: scale(1.5);

  @include theme-aware('color', 'text-color');

  .react-switch-checkbox {
    height: 0;
    width: 0;
    display: none;
    margin: 0;
  }

  .react-switch-label {
    transition: all $transition-time ease-in-out;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 32px;
    height: 16px;
    @include theme-aware('background', 'switch-track-background');
    border-radius: 50px;
    position: relative;

    &.switched {
      transition: all 0.4s ease-in-out;
      background: #009755;
    }
  }

  .react-switch-label .react-switch-button {
    transition: all $transition-time ease-in-out;
    content: '';
    margin-left: -50%;
    width: 12px;
    height: 12px;
    border-radius: 15px;
    @include theme-aware('background', 'switch-knob-background');
  }

  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    margin-left: 50%;
  }

  .right {
    transition: all $transition-time ease-in-out;
    @include theme-aware('color', 'text-color');
    opacity: 0.3;

    &.switched {
      opacity: 1;
    }
  }

  .left {
    transition: all $transition-time ease-in-out;
    @include theme-aware('color', 'text-color');
    opacity: 1;

    &.switched {
      opacity: 0.3;
    }
  }
}
