// All common themes

:root {
  --text-color-light: #535353;
  --input-background-light: #ffffff;
}

$common-themes: (
        light: (
                text-color: var(--text-color-light),
                color-background: #ffffff,
                navbar-background: rgba(255, 255, 255, 0.05),
                navbar-item-background-hover: rgba(255, 255, 255, 0.2),
                navbar-mobile-background: #1b2f4f,
                input-background: var(--input-background-light),
                input-border: 1px solid #c4c4c4,
                input-color: #393939,
                input-placeholder-color: rgba(0, 0, 0, 0.29),
                input-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1),
                spinner-dot-background: #404040,
                spinner-track-background: #000000,
                scrollbar-track-background: #e2e2e2,
                scrollbar-thumb-background: #c1c1c1,
                scrollbar-thumb-background-hover: #007bff
        ),
        dark: (
                text-color: #d4d4d4,
                color-background: #291B34,
                navbar-background: rgba(38, 38, 38, 0),
                navbar-item-background-hover: #2d2d2d,
                navbar-mobile-background: #181818cc,
                input-background: #242424,
                input-border: none,
                input-color: #959595,
                input-placeholder-color: rgba(255, 255, 255, 0.2),
                text-disabled-color: #575757,
                spinner-dot-background: #ffffff,
                spinner-track-background: #ffffff,
                scrollbar-track-background: #1d1d1d,
                scrollbar-thumb-background: #3d3d3d,
                scrollbar-thumb-background-hover: #ff9600
        )
);

$button-themes: (
        light: (
                button-background: #1054a7,
                button-background-hover: #0d418e,
        ),
        dark: (
                button-background: #0e0e0e,
                button-background-hover: #2f2f2f,
        ),
);

$select-themes: (
        light: (
                select-background: #ececec,
                select-background-hover: #dedede,
                select-border: none,
                select-border-radius: 3px,
                select-options-border: 1px solid rgb(193, 193, 193),
                select-options-background: rgb(255, 255, 255),
                select-options-background-hover: rgb(208, 208, 208),
                select-options-text-color: #575757,
                select-options-text-color-hover: #242424,
                select-options-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px,
                select-text-color: #575757
        ),
        dark: (
                select-background: rgb(40, 40, 40),
                select-background-hover: rgb(38, 38, 38),
                select-border: none,
                select-border-radius: 0,
                select-options-background: rgb(45, 45, 45),
                select-options-background-hover: rgb(36, 36, 36),
                select-options-text-color: #dcdcdc,
                select-options-text-color-hover: #dcdcdc,
                select-options-box-shadow: none,
                select-text-color: #767676
        ),
);

$list-themes: (
        light: (
                list-background: rgb(224, 224, 224),
                list-item-text-color: #575757,
                list-item-text-color-hover: #242424,
                list-item-background-hover: rgb(208, 208, 208),
        ),
        dark: (
                list-background: rgb(40, 40, 40),
                list-item-text-color: #dcdcdc,
                list-item-text-color-hover: #dcdcdc,
                list-item-background-hover: rgb(36, 36, 36),
        ),
);

$switch-themes: (
        light: (
                switch-track-background: #c9c9c9,
                switch-knob-background: #ffffff
        ),
        dark: (
                switch-track-background: #424242,
                switch-knob-background: #ffffff
        )
);


@mixin theme-aware($key, $color) {
  @include theme-aware-map($key, $color, $common-themes);
  @include theme-aware-map($key, $color, $button-themes);
  @include theme-aware-map($key, $color, $select-themes);
  @include theme-aware-map($key, $color, $list-themes);
  @include theme-aware-map($key, $color, $switch-themes);
}

// Apply style based on provided theme and registered theme maps
@mixin theme-aware-map($key, $color, $theme-map) {
  @each $theme-name, $theme-color in $theme-map {
    .theme-#{$theme-name} & {
      #{$key}: map-get(map-get($theme-map, $theme-name), $color)
    }
  }
}

@mixin themed-scrollbar() {

  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    @include theme-aware('background', 'scrollbar-track-background');
  }

  ::-webkit-scrollbar-thumb {
    @include theme-aware('background', 'scrollbar-thumb-background');
  }

  ::-webkit-scrollbar-thumb:hover {
    @include theme-aware('background', 'scrollbar-thumb-background-hover');
  }
}